/* mobile screen fit. some one fix this, it is such a hack to make it look nice.. it works tho*/
@media screen and (max-width: 650px) {
    .hidden {
        display: none !important;
    }
    
    .post .files img,
    .post .files video,
    .post .files object {
        display: block; 
        float: none; 
        margin: 3px;
        white-space: nowrap;
    }

    textarea#comment {
        width: 80%;
    }
}
/* add separators to page */
#mainForm,
.boardTitle,
.thread{
	padding-bottom: 10px;
	padding-top: 10px;
}

/* 
 * below is main css constent elements. you will most likely see this applied on every page.
 */
.navBar{
	display: flex;
	justify-content: space-between; 
	width: 100%; 
}
.adminbar{
    display: flex;
    flex-wrap: wrap;
}
.unlistedBoards{
	flex-basis: 100%; 
}
.boardTitle{
	text-align: center;	
}

/* pushes board name and title together */
.title, 
.subtitle {
	margin: 0; 
}
/* the coloring you see next to thread/post creation form */
.accent{
	width: 100px;
}

/* 
 * main css for threads and posts
 */
.thread{
	display:flow-root
}
.post{
	margin: 2px;
    max-width: 90%;
}
.post .files img,
.post .files video,
.post .files object{
    margin: 3px;
    white-space: nowrap;
    vertical-align: top;
}
.reply{
	display: inline-block;
	margin-left: 20px; 
	width: fit-content;
	padding: 8px; 
}

.comment {
	word-break: break-word;
}
.quote {
    display: inline-block;
}

/*
 * section below is things that are not exactly on main listing but still is some where.
 */
.float{
	float: left;
	padding-right: 10px;
}
.nofloat{
	float: none;
}
.hidden {
    display: none;
}
.inLine{
	display: inline-block;
}
.full {
    max-width: 100%;
}
.hyperButton {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}
.archived{
    text-align: center;
    font-size: 30px;
}

/* used with bbcode */
.spoiler {
	background-color: #000;
	transition: .3s;
	color: #000;
}
.spoiler:hover {
	background-color: inherit;
	color: inherit;
}
.code {
    background-color: #2e2e2e; 
    color: #f8f8f2; 
    font-family: monospace;
    word-wrap: break-word;
    padding: 10px;
    overflow-x: auto; 
    resize: both;
    max-width: 100%;
    white-space: nowrap;
  }
.scroll{
    overflow:scroll; 
    max-height: 200px;
}
#mainForm details{
    text-wrap: auto;
    max-width: 400px;
    line-height: 120%;
    font-size: small;
    text-align: left;
}
/* threading is what you will see in catalog or reply mode or in admin mode and other similar pages. */

.theading,
.theading2,
.theading3 {
	color: #EEE;
	padding: 2px 0;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

.adminForm{
    padding: 5px;
    border-bottom: 1px solid #000;
}
.bigRedButton {
    font-size: larger;
    background-color: #F00;
    color: white;
    cursor: pointer;
    border-style: outset;
    border-width: 3px;
    outline: none;
    font-weight: bold;
    font-family: Verdana, Tahoma, Arial;
}


.adminTable {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}
.adminTable td {
    padding: 4px;
    border: 1px solid #000;
    vertical-align: top;
    word-wrap: break-word;
}
.adminTable .comment{
    position: relative;
    width: 100%;
}
.adminTable .comment-box {
    width: 100%;
    height: 3.6em;
    line-height: 1.2em;
    overflow: hidden;
    resize: both;
    padding: 4px;
    box-sizing: border-box;
}
.adminTable .overflow-icon {
    display: none; 
}

/* catalog positioning */

.catalogItem {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 200px;
    height: 250px;
    float: none;
    overflow-y: auto;
}
.catalogItem img{
    max-width: 200px;
    max-height: 200px;
    float: none;
    padding-right: 0px;
}

@media screen and (max-width: 480px) {
    .catalogItem{       
        padding: 5px;
        margin: 2px;        
        width: 110px;
        height: 160px;
    }
    .catalogItem img{
        max-width: 110px; 
        max-height: 110px;
    }
}