@media screen and (max-width: 650px) {
    .post .files img,
    .post .files video,
    .post .files object{
        display: block; 
        float: none; 
        margin: 3px;
        white-space: nowrap;
    }
}

/* defualt css */
body {
	background-color: #ffffee;
	color: #880000;
	font-family: Times New Roman;
	font-size: 16px;
}
/* add separators to page */
#mainForm,
.boardTitle,
.thread{
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}
/* 
 * below is main css constent elements. you will most likely see this applied on every page.
 */
.navBar{
	display: flex;
	justify-content: space-between; 
	width: 100%; 
}
.adminbar{
    display: flex;
    flex-wrap: wrap;
}
.unlistedBoards{
	flex-basis: 100%; 
}
.boardTitle{
	text-align: center;	
}

/* pushes board name and title together */
.title, 
.subtitle {
	margin: 0; 
}
/* the coloring you see next to thread/post creation form */
.accent{
	background: #eeaa88;
	border: 1px solid #800000;
}

/* 
 * main css for threads and posts
 */
.omittedposts {
	color: #707070;
}
.thread{
	display:flow-root
}
.post{
	margin: 2px;
}
.full {
    width: 100%;
}
.post .files img,
.post .files video,
.post .files object{
    margin: 3px;
    white-space: nowrap;
    vertical-align: top;
}
.postnum a {
	color: inherit;
	text-decoration: none;
}
.reply{
	display: inline-block;
	margin-left: auto; 
	width: fit-content;
	background: #f0e0d6;
	padding: 8px; 
}
.reply:target{
	background: #f0c0b0;
}
.name{
	color: #117743;
}
.subject{
	color: #cc1105
}
.comment {
	word-break: break-word
}
.quote {
    color: #789922;
    display: inline-block;
}

/*
 * section below is things that are not exactly on main listing but still is some where.
 */
.float{
	float: left;
}
.nofloat{
	float: none;
}
.hidden {
    display: none;
}
.inLine{
	display: inline-block;
}
.full {
    max-width: 100%;
}
.hyperButton {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}
.archived{
    color: red;
    text-align: center;
    font-size: 30px;
}
.warning {
    color: #f00;
}
 /* threading is what you will see in catalog or reply mode or in admin mode and other similar pages. */
.theading,
.theading2,
.theading3 {
	color: #EEE;
	padding: 2px 0;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

.theading {
	background-color: #E04000;
}
.theading2 {
	background-color: #0040E0;
}
.theading3 {
	background-color: #E08000;
}
.adminForm{
    padding: 5px;
    border-bottom: 1px solid #000;
}
.bigRedButton {
    font-size: larger;
    background-color: #F00;
    color: white;
    cursor: pointer;
    border-style: outset;
    border-width: 3px;
    outline: none;
    font-weight: bold;
    font-family: Verdana, Tahoma, Arial;
}