@import url("base.css");

body {
	background-color: #ffffee;
	color: #880000;
	font-family: Times New Roman;
	font-size: 16px;
}

/* add separators to page */
#mainForm,
.boardTitle,
.thread{
	border-bottom: 1px solid #000;
}


/* the coloring you see next to thread/post creation form */
.accent{
	background: #eeaa88;
	border: 1px solid #800000;
}
/* the text you see when there is post hidden */
.omittedposts {
	color: #707070;
}


/* the text decaration next to post number */
.postnum a {
	color: inherit;
	text-decoration: none;
}
/* the color of a post */
.reply{
	background: #f0e0d6;
}
/* the color of a post when you have it selected */
.reply:target{
	background: #f0c0b0;
}


/* color of a post name*/
.name{
	color: #117743;
}
/* color of a post subject */
.subject{
	color: #cc1105
}
/* color of a post quote */
.quote {
    color: #789922;
}
/* color of ban text */
.warning {
    color: #f00;
}


/* color of arcive text */
.archived{
    color: red;
}
/* threading is the bar that spans across the screen, replay, admin mode, etc */
.theading {
	background-color: #E04000;
}
.theading2 {
	background-color: #0040E0;
}
.theading3 {
	background-color: #E08000;
}


/* 
 *  in admin pannel there is tables, this is the table colors for easier visability and 
 */

.adminTable tr:nth-child(even) {
    background-color: #ffffee;
}
.adminTable tr:nth-child(odd) { 
    background-color: #f7efea; 
}
.adminTable tr:first-child { 
    background-color: #eeaa88; 
}
.adminTable tr:hover { 
    background-color: #f0e0d6; 
}