@font-face {
    font-family: 'saitamaar';
    src: url('/static/fonts/Saitamaar.woff2') format('woff2');
    font-display: swap;
}
body {
    background-color: #dbff99;
    color: #800043;
    font-family: "MS PGothic", IPAMonaPGothic, Monapo, Mona, submona,"saitamaar", sans-serif; 
    font-size: 12pt;
}

#mainForm,
.boardTitle,
.thread{
    border-bottom: 2px dashed #616103;
}


/* the coloring you see next to thread/post creation form */
.accent{
    background: #fff869;
    border-bottom: 1px solid #800043;
    border-top: 2px solid white;
    border-right: 2px solid #800043;
    border-left: 1px solid white;
}
/* the text you see when there is post hidden */
.omittedposts {
	color: #707070;
}


/* the text decaration next to post number */
.postnum a {
	color: inherit;
}
.postnum {
    text-decoration: underline;
}
/* the color of a post */
.reply{
    background: #fffa96;
	border-bottom: 1px solid #800043;
	border-right: 2px solid #800043;
    border-left: 1px solid white;
    border-top: 2px solid white;
}
/* the color of a post when you have it selected */
.reply:target{
	background: #fff869;
}


/* color of a post name*/
.name{
    color: #ac5611;
}
/* color of a post subject */
.subject{
    color: #ff8622;
}
/* color of a post quote */
.quote {
    color: #d77230;
}
/* color of ban text */
.warning {
    color: #f00;
}


/* color of arcive text */
.archived{
    color: red;
}
/* threading is the bar that spans across the screen, replay, admin mode, etc */
.theading {
    background-color: #91b74c;
}
.theading2 {
    background-color: #8ac9d1;
}
.theading3 {
    background-color: #d09ac6;
}


/* 
 *  in admin pannel there is tables, this is the table colors for easier visability and 
 */
.adminTable tr:nth-child(even) {
    background-color: #fffcb9;
}
.adminTable tr:nth-child(odd) { 
    background-color: #fffa96; 
}
.adminTable tr:first-child { 
    background-color: #d09ac6; 
}
.adminTable tr:hover { 
    background-color: #fff869; 
}